$primary-yellow: #ffc737;
$primary-orange: #ff6838;
$primary-green: #58bd7d;
$grey: #777e91;
$text-white: #fcfcfd;
$text-grey: #b1b5c4;
$headline-grey: #f4f5f6;
$input-text: #e6e8ec;
$black: #23262f;
